@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

* {
    margin: 0%;
    padding: 0%;
}

/* common use */
.manu-span {
    color: #FF42A5;
}

/*manu bar*/

.logo-side {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    align-items: center;
    padding: 2rem;
}

.logo-side img {
    height: 2.5rem;
    width: 5rem;
}

.logo-side h2 {
    font-size: 2.75rem;
}



.manu-bar {

    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 1.95rem 0px rgba(0, 0, 0, 0.05);
}

.manu-side a {
    margin-right: 40px;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
    color: black;
}

.manu-side .follow {
    margin-right: .35rem;
    border-radius: .5rem;
    background: rgba(11, 2, 35, 0.308);
    padding: .6rem;
}

.fa-brands {
    color: red;
}

/*manu bar end*/
/*banner Start*/
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-text-side {
    width: 50%;
    text-align: center;
    text-align: left;
    padding: 9.38rem;

}

.banner-img-side {
    width: 50%;
}

.play {
    font-size: 3rem;
    font-weight: 600;
}

.goat {
    font-size: 6rem;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-p {
    font-size: 1.25rem;
    color: #534C64;
    line-height: 2rem;
}

.banner-btn {
    display: flex;
    gap: 1.25rem;
    margin-top: 1.5rem;
}

.banner-btn-one {
    background-color: #F948B2;
    border-radius: 40px;
    padding: 1.30rem 2.5rem;
    font-size: 1.5rem;
    font-weight: 600;

}

.banner-btn-tow {
    background-color: #4EC5F7;
    border-radius: 2.5rem;
    padding: 1.30rem 2.15rem;
    font-size: 1.5rem;
    font-weight: 600;
}

/*banner End*/

/* Online games funny video  */
.online-game {
    width: 80%;
    margin: auto;
}


.online-game-titel {
    font-size: 2.75rem;
    font-weight: 700;
    text-align: center;
    margin-top: 100px;
}

.online-game-p {
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: 2.5rem;
    margin-top: 1.5rem;
}

.online-game-img {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 100%;
}

.online-game-img p {
    margin-top: 1.5rem;
    width: 95%;
}

/* Online games funny video  section end */
.section-play {
    width: 90%;
    margin: auto;
    display: flex;
    margin-top: 6.25rem;
    align-items: center;

}

.play-section-text {
    width: 50%;
    text-align: center;
    padding-left: 14.35rem;

}

.section-play-titel {
    font-size: 2.75rem;
    font-weight: 700;
    width: 48%;

}

.section-play-ditel {
    font-size: 1.25rem;
    font-weight: 600;
    width: 50%;
}


.play-section-img {
    width: 50%;
    position: relative;

}

.small-img {
    position: absolute;
    top: 22.5rem;
    left: -11.25rem;
}

/* More game section start */
.more-game-back{
    margin-top: 6rem;
    height: 30vh;
    background-color: #f3badc2a;

}
.more-game {
    width: 80%;
    margin: auto;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
 
}

.game-img {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 50px;
    background-color: #FFF;
    width: 260px;
    height: 80px;

}
/* More game section End */
/*Footer section start*/
.footer{
    width: 100%;
    height: 50vh;
    background-color: #0B0223;
    color: #FFF;
}
.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding-top: 5rem;
}
.footer-logo h2{
    font-size: 2.75rem;
}
.footer-option{
    display: flex;
    justify-content: center;
    gap:60px;
    margin-top: 60px;

}
.footer-icon .fa-brands{
    color: #FFF;
    align-items: center;
}
.footer-icon, .footer-policy{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top:60px ;
}
.footer-policy-end{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top:30px ;
}


/*mobile*/